{% extends 'POSmart/base.html' %}
{% block title %}
    {{ titulo }}
{% endblock %}

{% block content %}
<br>
<h3>Lista de Produtos Cadastrados</h3>
<a href="{% url 'cadastrar-produto' %}" class="btn btn-primary">Cadastrar produto</a>
<a href="{% url 'categorias' %}" class="btn btn-primary">Gerenciar categorias</a>
<hr>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Categoria</th>
                <th>Disponível</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in object_list %}
            <tr>
                <td>{{ produto.nome_produto }}</td>
                <td class="text-center">{{ produto.quantidade_estoque }}</td>
                <td>{{ produto.categoria }}</td>
                <td>
                    {% if produto.disponivel %}
                        <i class="fas fa-check-circle text-success"></i> <!-- Ícone positivo -->
                    {% else %}
                        <i class="fas fa-times-circle text-danger"></i> <!-- Ícone negativo -->
                    {% endif %}
                </td>
                <td><a href="{% url 'editar-produto' produto.id %}" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a></td>
                <td><a href="{% url 'excluir-produto' produto.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a></td>
                <td>
                    {% if produto.imagem_produto %}
                        <div style="width: 100px; height: 100px; overflow: hidden; position: relative;">
                            <img src="{{ produto.imagem_produto.url }}" alt="{{ produto.nome_produto }}" style="object-fit: contain; width: 100%; height: 100%;">
                        </div>
                    {% else %}
                        <!-- Caso não haja imagem, exiba uma mensagem ou deixe em branco -->
                        Sem imagem
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% if not object_list %}
            <tr>
                <td colspan="6">Nenhum produto cadastrado.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
