{% extends 'POSmart/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<br>
<h2>{{ titulo }}</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Melhorar a Experiência do Usuário com Ícones -->
    <div class="form-group">
        {{ form|crispy }}

        <!-- Adicione aqui os produtos disponíveis -->
        <label>Produtos Selecionados:</label>
        <ul>
            {% for item in venda.itemvenda_set.all %}
                <li>{{ item.produto }} - Quantidade: {{ item.quantidade }}</li>
            {% endfor %}
        </ul>

    </div>

    <hr>

    <!-- Adicionar Estilo ao Botão de Salvar -->
    <button type="submit" class="btn btn-success btn-lg">
        <!-- Adicionar Ícone ao Botão -->
        <i class="fas fa-save"></i> Salvar
    </button>

    <!-- Adicionar Botão de Cancelar -->
    <button type="button" class="btn btn-secondary btn-lg" onclick="history.back()">
        <!-- Adicionar Ícone ao Botão de Cancelar -->
        <i class="fas fa-times"></i> Cancelar
    </button>
</form>

{% endblock %}
